<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container" *ngIf="!loggedIn">
    <a class="navbar-brand" href="#">Fake & Faker Law Firm</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Attorneys</a>
      </li>
    </ul>
    <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login(loginForm)" autocomplete="off">
      <input name="email"
             [(ngModel)]="model.email"
             class="form-control me-2"
             type="text"
             placeholder="Email">
      <input name="password"
             [(ngModel)]="model.password"
             class="form-control me-2"
             type="password"
             placeholder="Password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>

  <div class="container" *ngIf="loggedIn">
    <a class="navbar-brand" href="#">Fake & Faker Law Firm</a>
    <button class="btn btn-outline-success" type="submit" (click)="logout()">Sign Out</button>
  </div>
</nav>

<ng-template #loginError>
  <div>
    <h1>Email Address/Password are not correct. Please try again.</h1>
  </div>
</ng-template>
